body {
	background-color: var(--main-bg-color)
}
.block {
	width: 400px;
	height: 400px;
	background-color: #543244;
	color: #fff; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.block:checked {
  url("color.css");
}
.link {
  color: #fff;	
  font-size: var(--inch);
  font-family: myriadPro;

}
