:root {
  --main-bg-color: #ec4e4d;
  --bg-header:#f56262;
  --black: #1e1e1f;
  --white: #fde4e4;
  --green: #6cc572;
  --fnt-orange: #e55346;
  --orange: #e84a39;
  --light-black: #616161;
  --opacity-black: #323233ab;
  --bg-color: #ececec;
}


